<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <table>
        <th>Account No</th>
        <th>Amount</th>
        <tr>
            {%for i in result%}
            <td>{{acc}}</td>
            <td>{{i}}</td>
            <!-- <h3>{{acc}} &nbsp;&nbsp;&nbsp;&nbsp; {{i}}</h3> -->
            {%endfor%}
            
        </tr>
    </table>
    <a href="/user_main">Back</a>
</body>
</html>