<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/Create" method="post">
        <label for="email">Email: </label>
        <input type="email" name="email" id="email">
        <label for="accno">Account No: </label>
        <input type="text" name="accno" id="accno">
        <label for="pin">Pin: </label>
        <input type="number" name="pin" id="pin">
        <input type="submit" value="Submit">
    </form>
</body>
</html>