<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/Deposit" method="post">
        <label for="accno">Account No</label>
        <input type="text" name="accno" id="accno">
        <label for="pin">Pin</label>
        <input type="text" name="pin" id="pin">
        <label for="amt">Amount</label>
        <input type="text" name="amt" id="amt">
        <input type="submit" value="Deposit">
    </form>
</body>
</html>