<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table><h3>
        <th>Account No</th>
        <th>Deposit</th>
        <th>Withdraw</th></h3>
        
            {%for i in reslt%}
            <tr>
            <td>{{i[0]}}</td>
            <td>{{i[1]}}</td>
            <td>{{i[2]}}</td>
            </tr>
            {%endfor%}
        
        <!-- <tr><h3>&nbsp;&nbsp;Account No &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Deposit &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Withdraw</h3>
            {%for i in reslt%}
            <h3>{{i[0]}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{i[1]}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{i[2]}}</h3>
            {%endfor%}
        </tr> -->
    </table>
    <form action="/user_main">
        <input type="submit" value="Back">
    </form>
</body>
</html>