<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{background-image: url("static/signup.jpg");
        background-size: 450px;
    }
    </style>
</head>
<body>
    <h1>Welcome to  Sign-Up !!!</h1>
    <form action="/signup" method="post">
        <label>Name</label>
        <input type="text" name="uname">
        <label>Email</label>
        <input type="email" name="uemail">
        <label>Password</label>
        <input type="password" name="upassword">
        <input type="submit" value="Sign-Up">
    </form>
</body>
</html>