<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center><br><br><br><br><br><br>
    <h2>Welcome {{em}}</h2><br><br>
    <form action="/Create"><input type="submit" value="Create Account"></form><br>
    <form action="/Balance"><input type="submit" value="Balance Enquiry"></form><br>
    <form action="/Deposit"><input type="submit" value="Deposit"></form><br>
    <form action="/Withdrawel"><input type="submit" value="Withdrawel"></form><br>
    <form action="/Mini Statement"><input type="submit" value="Mini Statement"></form><br>
    <form action="/Logout"><input type="submit" value="Logout"></form><br>
    <form action="/Signout"><input type="submit" value="Signout"></form><br>
    </center>
</body>
</html>