<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/Withdrawel" method="post">
        <label for="accno">Account No: </label>
        <input type="text" name="accno" id="accno">
        <label for="pin">Pin: </label>
        <input type="number" name="pin" id="pin">
        <label for="amount">Amount: </label>
        <input type="number" name="amount" id="amount">
        <input type="submit" value="Withdraw">
    </form>
</body>
</html>